<h2>List of Products</h2>

<div *ngFor="let i of smartProducts ; index as productId">
    <h3>
        <a [title] = "i.name + ' details'" [routerLink]="['/products', productId]">
            {{ i.name }}
        </a>
    </h3>
    <p *ngIf="i.description">
        Description: {{ i.description }}
    </p>
    <button (click)="share()">
        Share
    </button>
    <button
        *ngIf = "!(i.price > 700)" 
        (click)="addToCart(i)">
        Buy now
    </button>
    <app-product-alert
        [product] = "i"
        (notify)="onNotify()">
    </app-product-alert>
</div>